upload-processor/BulkFileUploadFunctionApp/Properties/ServiceDependencies/ocio-ede-dev-bulk-file-upload-processor - Zip Deploy/

bulk-upload-service/bin/

tus/file-hooks/metadata-verify/build/

tus/file-hooks/metadata-verify/dist/

tusdotnet/DEXTUSClient/obj/

tusdotnet/DEXTUSServer/obj/

tusdotnet/TUSTestHelpers/obj/

# IDE
.vscode/
.idea/

*.pyc

tus/file-hooks/metadata-verify/pre_create_bin.spec

tus/file-hooks/metadata-verify/pre-create-bin

tus/file-hooks/post-create/build/
tus/file-hooks/post-create/dist
tus/file-hooks/post-create/post-create-bin
tus/file-hooks/post-create/post_create_bin.spec

**/node_modules

**/.DS_Store

**/.env
**/env.*
**/.sqlite
# Java
**/.gradle
**/local.properties
tests/integration/java/build/
tests/integration/java/bin
tests/integration/kotlin/build/
upload-processor/.vs/slnx.sqlite
