openapi: 3.0.1

info:
  title: ocio-dmz-dev-tusd
  description: 'Resumable Upload API following the TUS protocol'
  version: '1.0'
  contact:
    name: API Support
    email: tuy5@cdc.gov

tags:
  - name: TUSD

servers:
- url: https://apidev.cdc.gov/upload

paths:
  "/*":
    head:
      summary: File Offset
      tags:
        - TUSD
      description: Used to determine the offset at which the upload should be continued.
      operationId: head-files
      responses:
        '200':
          description: Success
    post:
      summary: Post Files
      tags:
        - TUSD
      description: Endpoint for the Creation extension. Modified by the Creation With
        Upload extension.
      operationId: post-files
      responses:
        '200':
          description: Success
    options:
      summary: Server Config
      tags:
        - TUSD
      description: Request to gather information about the Server's current configuration
      operationId: options-files
      responses:
        '200':
          description: Success
    patch:
      summary: Resume File
      tags:
        - TUSD
      description: Used to resume the upload
      operationId: patch-files
      responses:
        '200':
          description: Success

  "/":
    get:
      summary: Heartbeat
      tags:
        - TUSD
      description: Get the tusd welcome message.
      operationId: heartbeat
      responses:
        '200':
          description: Success

  "/health":
    get:
      summary: tus storage health status
      tags:
        - TUSD
      description: Get the tusd health status
      operationId: health
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        service:
                          type: string
                          example: "Azure Service Bus"
                        status:
                          type: string
                          example: "UP"
                        health_issue:
                          type: string
                          example: "None reported"

  "/{tguid}":
    get:
      summary: Download File
      tags:
        - TUSD
      description: Download a file by tguid.
      operationId: download-file
      parameters:
      - name: tguid
        in: path
        description: ID generated by Tus of the uploaded file.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success


components:
  securitySchemes:
    sams:
      type: oauth2
      description: This API uses OAuth-2 with the password grant flow. 
      flows:
        password:
          tokenUrl: https://apidev.cdc.gov/oauth
          scopes:
            dex:status: dex status
            
security:
   - sams: []
