<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ocio-ede-dev-bulk-file-upload-processor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/01f9b1b1-a130-4031-ba25-71771007d3ca/resourceGroups/ocio-ede-dev-moderate-hl7-rg/providers/Microsoft.Web/sites/ocio-ede-dev-bulk-file-upload-processor</ResourceId>
    <UserName>$ocio-ede-dev-bulk-file-upload-processor</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ocio-ede-dev-bulk-file-upload-processor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>