.vscode

grafana/grafana_data/*
grafana/provisioning/*
!grafana/grafana_data/readme.md
!grafana/provisioning/readme.md

uploads/*
!uploads/readme.md

!uploads/uploads_a

uploads/uploads_a/*

!uploads/uploads_a/readme.md



