<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DEX Upload API Suite" parallel="methods" thread-count="1">
    <test name="Generic Test Cases">
        <parameter name="CONFIG_FILE" value="ndlp-rsvprevention.properties"/>

        <!-- Define parameters for expected URLs as comma-separated lists -->
        <parameter name="EXPECTED_SOURCE_URLS" value="https://ocioededataexchangedev.blob.core.windows.net/pulsenet-localsequencefile/10KB-test-file,https://ocioededataexchangedev.blob.core.windows.net/ndlp-rsvprevention"/>
        <parameter name="EXPECTED_DESTINATION_URLS" value="https://edavdevdatalakedex.blob.core.windows.net/upload/pulsenet-localsequencefile//10KB-test-file,destinationURL2,"/>
        <classes>
            <class name="ProcStat">
                <methods>
                    <include name="shouldHaveMetadataVerifyReportWhenFileUploaded"/>
                    <include name="shouldHaveNullIssuesArrayWhenFileUploaded"/>
                    <include name="shouldHaveUploadStatusReportWhenFileUploaded"/>
                    <include name="shouldHaveEqualOffsetAndSizeWhenFileUploaded"/>
                    <include name="shouldHaveValidDestinationAndSourceURLWhenFileUploaded"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>



