<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/assets/index.css">
        <link rel="stylesheet" type="text/css" href="/assets/login.css">
        <title>DEX Upload</title>
    </head>
    <body>
        <main id="main">
            {{if .AuthFailed}}
            <h3 class="warning">Authentication failed, try again!</h3>
            {{ end }}
            <h1>Welcome to PHDO Upload Login</h1>
            <div>
                {{template "linkbtn" .LoginBtn}}
            </div>
        </main>
    </body>
</html>