<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/index.css">
        <link rel="stylesheet" href="/assets/form.css">
        <link rel="stylesheet" href="/assets/progress.css">
        <link rel="icon" type="image/x-icon" href="/assets/dex_logo.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DEX Upload</title>
    </head>
    <body>
        {{template "navbar" .Navbar}}
        <main id="main">
            <div class="upload-container">
                <div class="alert alert-warining hidden" id="support-alert">
                    <b>Warning!</b> Your browser does not seem to support the features necessary to run tus-js-client. The buttons below may work but probably will fail silently.
                </div>

                <div class="upload-form">
                    <h1 class="new-upload">File Uploader</h1>
                    <h1 class="resume-upload">Resume Upload</h1>
        
                    <div class="form-container">
                        <div class="input-group new-upload">
                            <label for="endpoint">
                                Upload endpoint:
                            </label>
                            <input type="text" id="endpoint" name="endpoint" value="http://localhost:8080/files/">
                            <!-- http://localhost:8080/files/ -->
                            <!-- https://tusd.tusdemo.net/files/ -->
                            <!-- https://apidev.cdc.gov/upload -->
                        </div>
                        <div class="input-group new-upload">
                            <label for="chunksize">
                                Chunk size (bytes):
                            </label>
                            <input type="number" id="chunksize" name="chunksize" value="40000000">
                            <p><b>Note:</b> Chunksize should be set on the client for uploading files of large size (1GB or over).</p>
                        </div>
                        <div class="input-group new-upload">
                            <label for="paralleluploads">
                                Parallel upload requests:
                            </label>
                            <input type="number" id="paralleluploads" name="paralleluploads" value="1" disabled>
                        </div>
                        <div class="input-group">
                            <label>
                                Metadata JSON object (file name will be inferred from each file):
                                <div class="file-container">
                                    <button onclick="files.click()">Browse Files</button>
                                    <input type="file" id="file-to-upload">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="span8 progress-container">
                    <div class="progress progress-striped progress-success hidden">
                        <div class="bar hidden" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            <div class="info-container">{{.Info}}</div>
        </main>
    </body>

    <script>const uploadStatus="{{.Info.UploadStatus.Status}}"</script>
    <script>const uploadUrl="{{.UploadUrl}}"</script>
    <script src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.js"></script>
    <script src="/assets/tusclient.js"></script>
</html>
