<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/assets/dex_logo.svg" />
    <link rel="stylesheet" type="text/css" href="/assets/index.css" />
    <link rel="stylesheet" type="text/css" href="/assets/progress.css" />
    <link rel="stylesheet" type="text/css" href="/assets/upload.css" />
    <title>DEX Upload</title>
  </head>
  <body>
    {{template "navbar" .Navbar}}
    <main id="main">
      <div class="upload-container hidden">
        <div class="alert alert-warning hidden" id="support-alert">
          <b>Warning!</b> Your browser does not seem to support the features
          necessary to run tus-js-client. The buttons below may work but
          probably will fail silently.
        </div>

        <h1 class="new-upload">File Uploader</h1>
        <h1 class="resume-upload">Resume Upload</h1>

        <div class="form-container">
          <div class="input-container new-upload">
            <label for="endpoint">Upload Endpoint</label>
            <input
              type="text"
              id="endpoint"
              name="endpoint"
              value="http://localhost:8080/files/"
            />
            <!-- http://localhost:8080/files/ -->
            <!-- https://tusd.tusdemo.net/files/ -->
            <!-- https://apidev.cdc.gov/upload -->
          </div>
          <div class="input-container new-upload">
            <label for="chunksize">
              Chunk Size (bytes)
              <div class="input-tip">
                <b>Note:</b> Chunksize should be set on the client for uploading
                files of large size (1GB or over).
              </div>
            </label>
            <input
              type="number"
              id="chunksize"
              name="chunksize"
              value="40000000"
            />
          </div>
          <div class="input-container new-upload">
            <label for="paralleluploads">Parallel Upload Requests</label>
            <input
              type="number"
              id="paralleluploads"
              name="paralleluploads"
              value="1"
              disabled
            />
          </div>
          <div class="input-container">
            <label for="files">
              Metadata JSON Object
              <div class="input-tip">
                <b>Note:</b> File name will be inferred from each file
              </div>
            </label>
            <div class="file-container">
              <button type="button" onclick="files.click()" name="Browse files to upload" id="browse-files">Browse Files</button>
              <input type="file" id="files" />
            </div>
          </div>
        </div>

        <div class="uploader-container">
          <div class="progress-container">
            <div class="progress progress-striped progress-success hidden">
              <div class="bar hidden" style="width: 0%"></div>
            </div>
          </div>
          <div class="pause-resume-upload-container">
            <button type="button" id="pause-upload-button" class="hidden">Pause</button>
            <button type="button" id="resume-upload-button" class="hidden">Resume</button>
          </div>
        </div>
      </div>

      <div class="file-detail-container hidden">
        <div class="file-header-container">
          <div class="file-id-container">
            <h1>{{.Info.Manifest.received_filename}}</h1>
            ID: {{.Info.Manifest.upload_id}}
          </div>

          <div class="upload-status-container">
            <h1>
              Upload Status:
              <span id="upload-status-value" class="upload-{{KebabCase .Info.UploadStatus.Status}}">
                {{.Info.UploadStatus.Status}}
              </span>
            </h1>
            <div class="small-italics info-datetime">
              <span id="upload-datetime-label">Uploaded At: </span>
              <span id="upload-datetime-value">
                {{FormatDateTime .Info.UploadStatus.LastChunkReceived}}
              </span>
            </div>
          </div>
        </div>

        {{if .Info.Deliveries}}
        <div class="file-deliveries-container">
          <h2>Delivery Status</h2>
          {{range .Info.Deliveries}}
          <div class="file-delivery-container file-delivery-{{KebabCase .Status}}">
            <div class="delivery-header-container">
              <div class="delivery-id-container">
                <h2>{{AllUpperCase .Name}}</h2>
              </div>
              <div class="delivery-status-container">
                <h3>
                  Delivery Status:
                  <span class="delivery-{{KebabCase .Status}}">{{.Status}}</span>
                </h3>
                <div class="small-italics">
                  Delivered At:
                  <span class="status-time-value">{{FormatDateTime .DeliveredAt}}</span>
                </div>
              </div>
            </div>

            <div class="delivery-location-container">
              Location: {{.Location}}
            </div>
          
            {{if .Issues}}
            <div class="delivery-issues-container">
              <h2>Issues</h2>
              <div class="issue-list-container">
              {{range .Issues}}
                <div class="issue-container">
                  <div class="issue-level issue-level-{{KebabCase .Level}}">{{.Level}}:</div>
                  <div class="issue-message">{{.Message}}</div>
                </div>
              {{end}}
              </div>
            </div>
            {{end}}
          </div>
          {{end}}
        </div>
        {{end}}

        <div class="file-details-container">
          <h2>Upload Details</h2>
          {{if .Info.FileInfo}}
          <div class="detail-container file-size-{{KebabCase .Info.UploadStatus.Status}}">
            <div class="detail-label">File Size:</div>
            <div class="detail-value">{{FormatBytes .Info.FileInfo.size_bytes}}</div>
          </div>
          {{end}}
          <div class="detail-container">
            <div class="detail-label">Sender ID:</div>
            <div class="detail-value">{{.Info.Manifest.sender_id}}</div>
          </div>
          <div class="detail-container">
            <div class="detail-label">Producer ID:</div>
            <div class="detail-value">{{.Info.Manifest.data_producer_id}}</div>
          </div>
          <div class="detail-container">
            <div class="detail-label">Stream ID:</div>
            <div class="detail-value">{{.Info.Manifest.data_stream_id}}</div>
          </div>
          <div class="detail-container">
            <div class="detail-label">Stream Route:</div>
            <div class="detail-value">{{.Info.Manifest.data_stream_route}}</div>
          </div>
          <div class="detail-container">
            <div class="detail-label">Jurisdiction:</div>
            <div class="detail-value">{{.Info.Manifest.jurisdiction}}</div>
          </div>
        </div>

        <div class="new-upload-button-container">
          {{template "newuploadbtn" .NewUploadBtn}}
        </div>
    </main>
  </body>

  <script>
    const uploadUrl = "{{.UploadUrl}}";
    const uploadStatus = "{{.UploadStatus}}";
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.js"></script>
  <script type="text/javascript" src="/assets/tusclient.js"></script>
</html>
