.file-info-container {
  margin: 0 auto;
  padding: 1.2rem;
}

.file-info-container .file-id {
  margin-bottom: 2.5rem;

  h1 {
    margin-bottom: 0.5rem;
  }
}

.file-info-container #upload-status {
  h2 {
    margin-bottom: 0.5rem;
  }
}

.file-info-container #file-delivery {
  border-radius: 2rem;
  padding: 2rem;
  border-width: 0.5rem;
}

.file-info-container #file-delivery .delivery-success {
  background-color: rgba(6, 162, 6, 0.5);
  border-color: rgb(6, 162, 6);
}

.file-info-container #file-delivery .delivery-failure {
  background-color: rgba(162, 6, 6, 0.5);
  border-color: rgb(162, 6, 6);
}

.file-info {
  margin-bottom: 2.5rem;
}

.file-info h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.file-info .info-item {
  line-height: 1.8rem;
  display: flex;
  flex-direction: row;
}

.file-info .info-item .item-name {
  font-weight: bold;
  min-width: 18rem;
}
