.upload-container {
  margin: 0 auto;
  padding: 1.2rem;
}

.form-container {
  margin: 0;
  max-width: 550px;
}

.form-container button {
  background: #0057b7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0 10px 0;
  padding: 10px;
  width: 100%;
}

.form-container input {
  background: #f1f1f1;
  border: 1px solid #aaa;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.form-container input[type="file"] {
  display: block;
  font-style: oblique;
  margin-left: 15px;
  display: none;
}

.form-container input[type="file"]::file-selector-button {
  display: none;
}

.form-container label {
  display: block;
  font-weight: 600;
  margin-top: 5px;
}

.form-container select {
  background: #f1f1f1;
  border: 1px solid #aaa;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.form-container .upload-container {
  display: flex;
  flex-direction: row;
}

.form-container .upload-container input {
  background: none;
  border: none;
}
