.progress-container {
	height: 32px;
  width: 50%;
  max-width: 400px;
}

.progress {
  border: 1px solid #aaa;
	height: 100%;
  width: 100%;
}

.bar {
  background-color: rgb(6, 162, 6);
  color: white;
  line-height: 30px;
  height: 100%;
  margin: auto 0;
  padding-left: 10px;
}

.upload-success {
  color: rgb(6, 162, 6);
}

.upload-failure {
  color: rgb(155, 0, 0);
}