.file-detail-container {
  margin: 0 auto;
  padding: 1.2rem;
}

main > div:first-child:not(.hidden) + .file-detail-container {
  border-top: 1px solid var(--upload-border-color);
}

.uploader-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.uploader-container .progress-container {
  flex-grow: 1;
}
.uploader-container .pause-resume-upload-container {
  flex-grow: 1;
}

/* -------------------------- */
/* File ID and Status Styling */
/* -------------------------- */

.file-header-container,
.file-deliveries-container,
.file-details-container {
  margin-bottom: 4rem;
}

.file-header-container,
.delivery-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.file-header-container .file-id-container,
.file-header-container .upload-status-container,
.delivery-header-container.delivery-id-container,
.delivery-header-container .delivery-status-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.file-header-container .upload-status-container,
.delivery-header-container .delivery-status-container {
  align-items: end;
}

.file-header-container .file-id-container h1,
.file-header-container .upload-status-container h1 {
  margin-bottom: 0.5rem;
}

.upload-complete,
.delivery-success {
  color: var(--upload-success);
}

.upload-in-progress {
  color: var(--upload-active);
}

.upload-failure,
.delivery-failure {
  color: var(--upload-failure);
}

/* ----------------------- */
/* File Deliveries Styling */
/* ----------------------- */

.file-delivery-container {
  border: 3px solid var(--upload-border-color);
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  align-items: start;
}

.file-delivery-success {
  border-color: var(--upload-success);
  background-color: var(--upload-success-alpha);
}

.file-delivery-failure {
  border-color: var(--upload-failure);
  background-color: var(--upload-failure-alpha);
}

.delivery-status-container h3 {
  margin-bottom: 0.25rem;
}

.delivery-location-container {
  padding: 3rem 0;
  font-size: larger;
  font-weight: 500;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
}

/* ----------------------- */
/* Issues and Info Styling */
/* ----------------------- */

.issue-container,
.detail-container {
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  padding: 0.5rem;
  align-items: start;
}

.issue-container:not(:last-child),
.detail-container:not(:last-child) {
  border-bottom: 1px solid var(--upload-border-color);
}

.issue-container .issue-level {
  font-weight: 600;
  width: 10rem;
}

.issue-container .issue-level-error {
  color: var(--upload-failure);
}

.issue-container .issue-level-warning {
  color: var(--upload-warning);
}

.detail-container .detail-label {
  font-weight: bold;
  min-width: 18rem;
}

.detail-container .detail-value {
  word-break: break-all;
}

.file-size-initiated,
.file-size-in-progress {
  display: none;
}
