openapi: 3.0.1

info:
  title: ocio-dmz-dev-tusd
  description: ''
  version: '1.0'

servers:
- url: https://apidev.cdc.gov/upload

paths:
  "/*":
    head:
      summary: File Offset
      description: Used to determine the offset at which the upload should be continued.
      operationId: head-files
      responses:
        '200':
          description:
    post:
      summary: Post Files
      description: Endpoint for the Creation extension. Modified by the Creation With
        Upload extension.
      operationId: post-files
      responses:
        '200':
          description:
    options:
      summary: Server Config
      description: Request to gather information about the Server's current configuration
      operationId: options-files
      responses:
        '200':
          description:
    patch:
      summary: Resume File
      description: Used to resume the upload
      operationId: patch-files
      responses:
        '200':
          description:

  "/":
    get:
      summary: Heartbeat
      description: Get the tusd welcome message.
      operationId: heartbeat
      responses:
        '200':
          description: ''

  "/{tguid}":
    get:
      summary: Download File
      description: Download a file by tguid.
      operationId: download-file
      parameters:
      - name: tguid
        in: path
        description: ID generated by Tus of the uploaded file.
        required: true
        schema:
          type: string
      responses:
        '200':
          description:


components:
  securitySchemes:
    sams:
      type: oauth2
      description: This API uses OAuth-2 with the password grant flow. 
      flows:
        password:
          tokenUrl: https://apidev.cdc.gov/oauth
          scopes:
            dex:status: dex status
            
security:
   - sams: []