openapi: 3.0.1

info:
  title: ocio-dmz-dev-upload-info
  description: 'Endpoint for getting information about a file that has been uploaded provided the unique ID of that file'
  version: '1.0'
  contact:
    name: API Support
    email: tuy5@cdc.gov
  
tags:
  - name: UPLOAD_API

servers:
- url: https://apidev.cdc.gov/info

paths:
  "/{tguid}":
    get:
      summary: Get file info
      tags:
        - UPLOAD_API
      description: Endpoint for getting information about a file that has been uploaded provided the unique ID of that file
      operationId: get-info
      parameters:
      - name: tguid
        in: path
        description: ID generated by Tus of the uploaded file.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
        '404':
          description: Upload content or manifest file not found

components:
  schemas:
    Info:
      type: object
      properties:
        manifest:
          type: object
          description: Manifest object sent with the file
        file_info:
          type: object
          description: Static details about the file
          properties:
            size_bytes:
              type: integer
              description: The size of the file in bytes
            updated_at:
              type: string
              description: The datetime of when the raw file was last modified

security:
   - sams: []